# Introduction to Pandas

In [ ]:
import pandas as pd

### Let's learn about Pandas Series firstly

In [ ]:
# Creating a simple python list

a = [1,4,3,7,2,6,3]
a

[1, 4, 3, 7, 2, 6, 3]

In [ ]:
# Now let's convert it into a pandas object called a series
# NOTE: A pandas series is a single dimension column of data e.g.

a = pd.Series(a)
a

0    1
1    4
2    3
3    7
4    2
5    6
6    3
dtype: int64

In [ ]:
type(a)

pandas.core.series.Series

### Simple Series operations such as sorting, max, count, sum

In [ ]:
a.max()

7

In [ ]:
a.min()

1

In [ ]:
# Sort using all default settings
a.sort_values()

0    1
4    2
2    3
6    3
1    4
5    6
3    7
dtype: int64

In [ ]:
# Sort by placing the highest number first
a.sort_values(ascending=False)

3    7
5    6
1    4
6    3
2    3
4    2
0    1
dtype: int64

In [ ]:
a

0    1
1    4
2    3
3    7
4    2
5    6
6    3
dtype: int64

In [ ]:
# Save 'a' by using inplace
a.sort_values(ascending=False, inplace=True)
a

3    7
5    6
1    4
2    3
6    3
4    2
0    1
dtype: int64

In [ ]:
a.value_counts()

3    2
7    1
6    1
4    1
2    1
1    1
dtype: int64

In [ ]:
a[:1]

3    7
dtype: int64